[Unit]
Description=rabbitmq_exporter
Documentation=https://prometheus.io/
After=network.target
[Service]

Type=simple
Environment=RABBIT_USER=monitor
Environment=RABBIT_PASSWORD=monitor_123
Environment=OUTPUT_FORMAT=JSON
Environment=PUBLISH_PORT=9419
Environment=RABBIT_URL=http://{{ansible_host}}:15672
User=root
ExecStart=/opt/rabbitmq_exporter/rabbitmq_exporter 
Restart=on-failure

[Install]
WantedBy=multi-user.target
